# ==================================================
# PROJECT: Swarm UAV Simulation (Panda3D)
# REQUIRED PYTHON VERSION: 3.10
# ==================================================

numpy==1.24.4
PyYAML==6.0.1
Panda3D==1.10.14
Pillow==10.2.0
qrcode==7.4.2